$navbar-font-color: white;
$navbar-bg-color: #91a8c4;
$ab-green-color:#b847bc;
$ab-white-color: #ffffff;
$ab-red-color:  #ff5733 ;
$font-size: 12px;
$mobile-width: 600px;
$blue-color:#4A90E2;
$dark-grey-color:  #4A4A4A;
$light-grey-color: #9B9B9B;
